.dis{
		display:none;
	}
	.scrolled{
		height:50px;
	}
	.container-fluid{
		padding-left:0px;
		padding-right:0px;
	}

	@media(min-width:480px){
		.dropdown:hover  .dropdown-menu{
		display:block;
			

		
	}
	
	
		.dpdn{
		 width: 50vw !important;
   		 height: 55vw !important;
			background-color: white !important;
	}
		.snp 
		{
			width: 50vw !important;
			border: none;
			outline: none;
		}
		.dropdown-item{
			text-align: right !important;
		}
		.form-group{
			padding-right:5px;
			
		}
	
		.dropdown-menu a
		{
			color: grey;
		}
	}
	.snp button
	{
background-color:#C3D7A4;
		margin-left: 7px;
	}
	.snp input
	{
		margin-left: 7px;
		margin-right: 7px;
	}
	.snp form
	{
		margin-left: 200px;
	}
	.color-red{
		background-color:red;
	}
    .box1{
		position: relative;
		width:100vw;
		left: calc(-50vw + 50%);
    }
	.navbar-nav > li > .dropdown-menu {
	background-color: #343A40;
		 
	}
	
	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 60%;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}
	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}
/*Left*/
	.modal.left.fade .modal-dialog{
		left: -0.5em;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -1em;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}
/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}
	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}
	.modal-body{
		background-color :#343A40;
	}
	.modal-body ul li a:hover{
		color:white;
	}
	.modal-body ul li a{
		color:#808080;
	}
	#work-sans{
		font-family: 'Work Sans', sans-serif;
	}
	#font-federo{
		font-family: 'Federo', sans-serif;
	}
	#merriweather{
		font-family:"Merriweather Light", serif;
		font-weight:400;
		font-style:normal;
		font-variant:normal;
		text-transform:none;
		text-decoration:none solid rgb(255, 255, 255);
		text-indent:0px;
	}
	.main-menu{
		padding-top:1em;
		background-color:#C3D7A4;
	}
	.gallery{
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
		color:grey;
	}
	/*main menu starts*/
  .box1{
		height: 110px !important;
		overflow-x: scroll !important;
		overflow-y: hidden !important;
		white-space: nowrap !important;

	}
	.box1::-webkit-scrollbar {
		display: none;
		}
	
	.card-b{
		font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		width: auto;
		background-color: white;
		display: inline-block;
		height: 90px;
		border-radius: 10px;
		margin-left: 6px;
		margin-top: 8px;
		margin-right: 6px;
		text-align: center;
align-content: center;
		padding-left: 4px;
		padding-right: 4px;
		color: grey;
		box-shadow: 3px 3px 3px 3px grey;
	}
		.image{
			width: 70px;
			height:90px;
			border-radius: 8px;
	}
	/*notice borad buttin color*/
	
	.btcolor .nav a
	{
		color: white;
		background-color: #353A41;
		margin: 3px;
	}
	.notice
	{
	 
		height: auto;
		width: auto;
		border-bottom-right-radius: 14px;
		border-top-left-radius: 14px;
		border: 2px solid #353A41;
		padding: 5px;
		margin-bottom: 3px;
		
	}
	.notice a
	{
	    font-size: 15px;
		opacity: 1;
		text-decoration: none;
	}
	.notices
	{
		overflow-y: scroll;
		overflow-x: hidden;
		height: 350px;
	}
	.notices::-webkit-scrollbar {
		display: none;
		}
	@media(max-width:500)
	{
		.notice a{
			font-size: 4px;
		}
		
	}
		#main {
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
					
}
	
	@media(min-width:500px)
	{
	.selfcenter
	{
		padding-left: 85px;
	}
	}
	
	.notice a:hover{
		backgroud-color:red;
	}
	.xyz{
		background-color:papayawhip;
		cursor:pointer;
	}
	.gp
	{
		
		padding: 5px;
		margin: 5px;
	}
	.gp h3{
		color:whitesmoke;
		background-color:#CD4346;
	}
	.gp h5{
		color:black;
	}
	.mdl
	{
		background-color: white !important;
	}
	.mdl input{
		border: 1px solid red;
	}

	.nav
	
	{
		display:block;
	}
	
	
	.mynavbar
	{
		
		background-color: #C3D7A4;
		width: auto;
		overflow-x: scroll;
		white-space: nowrap;
		
		
	}
.mynavbar::-webkit-scrollbar
	{
		display: none;
	}
	.mynavitem
	{
		padding-top: 1em;
		border-radius: 30px;
		background-color: azure;
		display: inline-block;
		cursor: pointer;
		height:60px;
		width:200px;
		transition: transform .2s;
	
	}
.mynavitem:hover {
	transform:scale(1.7);
	background-color:aqua;
	position:absolute;
	
}
	footer
	{
	background-color: 	#353A41;
		color: gray;
		margin-top: 27px;
	}
	